html{
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}

body{
	margin:20px;
	padding: 20px;
	color: #333333;
	background-color: #ededed;
}

/*NAVBAR*/
.navbar-brand{
	text-align: center;
	color: #ffffff;
}

/*PAGE ACCUEIL*/
#main-page-title{
	margin-top: 40px;
}
.user-photo{
	text-align: center;
    padding: 20px;
    color: #008cba;
}
/*FOOTER*/
footer{
	background-color: #008cba;
	color: #ffffff;
}

/*PAGE DE MICHAEL*/
#mic-page-container{
	margin-top: 40px;
}

.second-container{
	height: 1200px;
}
#form-login{
	border: solid 1px #008cba;
    padding: 20px;

}
.progressbar-container{
	width: 100%;
	border: solid 1px #008cba;
    padding: 20px;
}
.fAwesom-social{
	width: 20%;
	transition: all .2s ease-in-out;
}

.fAwesom-social:hover{
	color: orange;
	transform: scale(1.5);
}
#center-2-container{
	width: 100%;
	border: solid 1px #008cba;
    padding: 20px;
    background-color: #ffffff;
}
#form-login{
	background-color: #ffffff;
}
#progress-container{
	background-color: #ffffff;
}

#slider-left{
	width: 90%;
	border: solid 1px #008cba;
    padding: 20px;
    background-color: #ffffff;
}
#timer{
	width: 90%;
	border: solid 1px #008cba;
    padding: 20px;
    background-color: #ffffff;
}
#demo{
	position: relative;
	top:50%;
}
#loaderGIF{
	width: 90%;
	border: solid 1px #008cba;
    padding: 20px;
    background-color: #ffffff;
}






