
h1{
	font-size: 40px;
	color:orange;
	text-align: center;
}
h3
{
	padding-bottom: 20px;
	padding-top: 40px;
}

div.col
{
	min-height: 120px;
}
 div.col-sm
 {
	min-height: 120px;
}

#photo
{
	min-height: 200px;
	min-width : 200px;
	max-width: 250px;
	max-height: 250px;
}

#mainbody
{
	margin-top : 80px;
}
#mainbody
{
	margin-top : 50px;
}

h3
{
font-style: blue;
font-style: bold;
}
.grey
{
	background-color: rgb(238,238,238);
}
.time
{
	background: url("../img/time.jpg") 0 0 no-repeat;
	background-size:cover;
	min-height: 300px;
	padding:0 0 0 0;
	border-bottom :0px;
}
.transparence
{
	background: url("../img/blanc.jpg") 0 0 no-repeat;
	background-size:cover;
	opacity :0.7;
	min-height: 300px;
	margin:10px;
	padding:15px;
}

.progress
{
	margin-top: 10px;
}

#technologies
{
	display:none;
}
#diplomes
{
	display:none;
}

.fonty
{
	font-family: 'Gloria Hallelujah', cursive;
}
.moove
{
	position : relative;
}

