html{
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}

body{
	margin:20px;
	padding: 20px;
	color: #333333;
}

/*NAVBAR*/
.navbar-brand{
	text-align: center;
	color: #ffffff;
}

/*PAGE ACCUEIL*/
#main-page-title{
	margin-top: 40px;
}
.user-photo{
	text-align: center;
    padding: 20px;
    color: #008cba;
}
/*FOOTER*/
footer{
	background-color: #008cba;
	color: #ffffff;
}





